*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif ;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}
*::selection {
    background: #18BC9C;
    color: #fff;
}
:root{
    --tex-color: #fff;
    --bg-color: #111111;/*  #111111*/  /*  #1b1f24*/
    --second-bg-color: #212121;
    --main-color: #18BC9C;
    --other-color: #c3cad5;

    --h1-font: 4.5rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    --total-brand:4;
    --logo-width: 24rem;
    
    --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 2 );
    --animation-duration: calc(var(--total-brand) * 1.5s );
}
body{
    color: var(--tex-color);
    background: var(--bg-color);
    
}
span{
    color: var(--main-color);
}


/*Estilos de nuevo servicios*/

#services
{
	position: relative;
	background: var(--bg-color);
	min-height: 100vh;
	padding: 90px 90px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#services .content
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 20px;
	margin: 40px 0;
}

#services .content .servicesBx
{
	background: #212121;
	padding: 50px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid #2e2f34;
	gap: 20px;
}

#services .content .servicesBx:hover 
{
	border: 2px solid #18BC9C;
}
#services .content .servicesBx img 
{
	max-width: 100px;
	filter: invert(1);
	opacity: 0.5;
	transition: 0.5s;
}
#services .content .servicesBx:hover img 
{
	opacity: 1;
}
#services .content .servicesBx h3 
{
	color: #fff;
	font-weight: 600;
	color: #18BC9C;
    text-align: center;
}

/*Estilos de vvista servicios*/

#services .content .servicesBx h3 
{
	color: #fff;
	font-weight: 600;
	color: #18BC9C;
}
.products-preview{
    
	position:fixed;
	top:0; left:0;
	min-height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
    overflow: hidden; /* Agrega esta línea para evitar el scroll */


 }

 .products-preview .preview{
	display: none;
	padding:1rem;
	text-align: center;
	background: #212121;
	position: relative;
	margin:9rem;
	width: 30rem;
    border-radius:.4em ;
    transform: scale(0.5); /* Inicialmente, el elemento comienza con un 50% de escala */
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
 
}


 .products-preview .preview.active{
	display: inline-block;
    transform: scale(1); /* El elemento se escala al 100% cuando .products-preview tiene la clase .active */
    opacity: 1;
 
 }
 .products-preview .preview img{
    height: 5rem;
    filter: invert(1);
 }
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 2rem;
 }
 .products-preview .preview .fa-times:hover{
	transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
	color:#18BC9C;
	padding:.5rem 0;
	font-size: 1.5rem;
 }
 
 .products-preview .preview .stars{
	padding:1rem 0;
	font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
	color:#18BC9C;
 }
 
 .products-preview .preview .stars span{
	color:#999;
 }
 
 .products-preview .preview p{
	line-height: 1.5;
	padding:1rem 0;
	font-size: 1.1rem;
	color:#777;
    text-align: start;
 }
 
 .products-preview .preview .price{
	padding:1rem 0;
	font-size: 2.5rem;
	color:#27ae60;
 }
 
 .products-preview .preview .buttons{
	display: flex;
	gap:1.5rem;
	flex-wrap: wrap;
	margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
	flex:1 1 16rem;
	padding:1rem;
	font-size: 1.8rem;
	color:#444;
	border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
	background: #444;
	color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
	background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
	background: #444;
	color:#fff;
 }
 .no-scroll {
    overflow: hidden;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;

}
header .logo {
    height: 70px;
    color: #fff;
    text-transform: uppercase;
}

.navlist{
    display: flex;

}
.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.navlist li .active,
.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--tex-color);

}
/*estilo de icono*/
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    
}
/*estilo de botoncontactame*/
.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.h-btn:hover{
    background:var(--main-color) ;
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1,1);
}
/*estilo de home*/
section{
    padding: 110px 16% 90px;

}
.hero{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,10), rgba(0,0,0,0.5)), url(../img/fondo12.jpg) no-repeat;
    background-position:top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.main-content h1{
    font-size: 50px;
    font-weight: 600;
    margin:20px 0px 20px;
    line-height: 1.2;
}
.main-content h4{
    font-size: 1.7rem;
    margin-bottom: 15px;
}
/*ESTILO BOTON DE HERO*/

.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color:var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.btn:hover{
    background:transparent ;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1,1);
}
/*header nav*/
header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
    padding: 16px 16%;

}
/*Styles section services*/
.center-text{
    text-align: center;
    margin-top: 15px;

    
}
.center-text2{
    text-align: center;
    margin-top: 15px;

    
}
.center-text2 h2{
    font-size: var(--h2-font);
}
.center-text h2{
    font-size: var(--h2-font);
}






/*CONTACT FORM*/
.contact{
    background: var(--second-bg-color);

}
.contact-img img{
    width: 100%;
}
.contact-content{
    display: grid;
    margin-top: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
}
.contact-form form{
    position: relative;
}
.label{
    color: var(--other-color);
    margin-bottom: 0.5rem;
    font-size: 1rem;



}
.contact-form form input,
form textarea{
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    width: 100%;
    padding: 18px;
    background: #111111;
    color: var(--tex-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    border-radius: 0.5rem;

}
.contact-form textarea{
    resize: none;
    height: 150px;
}
.contact-form form .send{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color:var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
    cursor: pointer;


}
.contact-form form .send:hover{
 
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

/*CLIENTS*/
.clients{
    background: var(--bg-color);
    margin-bottom: 150px;
}


.clients-content{
    position: relative;
    margin-top: 100px;
    height: 12rem;
    background: var(--bg-color);
  /*  box-shadow: 0 .8rem 1.4rem -.2rem #0001;*/
    display: flex;
    align-items: center;
    overflow: hidden;
}
.clients-content::before,
.clients-content::after{
    position: absolute;
    content: '';
    height: 100%;
    width: var(--logo-width);

}
.clients-content::after{
    right: 0;
   /* background: linear-gradient(to left, #181818 0%, #0000 100%);*/

}
.clients-content::before{
    left: 0;
   /* background: linear-gradient(to right, #181818 0%, #0000 100%);*/

}

.clients-content ul.brands{
    list-style: none;
    width:var(--total-logo-width) ;
    display: flex;

    animation: slideLeft var(--animation-duration) linear infinite;
}
.clients-content:hover ul.brands{
  animation-play-state: paused;
}
@keyframes slideLeft {
    100%{
        transform: translateX(calc(-100% /2));
    }
}
ul.brands li.brand-logo{
    width: var(--logo-width);
    margin-left: 3rem;

}

.footer{
    background: var(--second-bg-color);
    padding: 22px 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
}
.scroll-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #18BC9C;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--tex-color);
    font-size: 27px;

}












@media (max-width: 1700px){

    header{
        padding: 20px 14%;
    }
    header.sticky{
        padding: 14px 14%;
    }
    section{
        padding: 90px 14% 80px;
    }

}

@media (max-width: 1380px){

    header{
        padding: 20px 8%;
    }
    header.sticky{
        padding: 14px 8%;
    }
    section{
        padding: 90px 8% 80px;
    }
    .hero{
        height: 100vh;
        background-position: center;
    }

}
/*Media Query*/
@media (max-width: 1290px){

    .box h3{
       font-size: 17px; 
    }
    .box img{
        width: 100px;
        height: 60px;
        max-width: 60px;

 
    }

}

@media (max-width: 1240px){

    ::root{
        --h2-font: 2.2rem;
        --p-font: 15px;
    }

}

@media (max-width: 950px){
    .h-btn {
    display: none;
    }
    #services 
	{
		padding: 100px 50px;
	} 
	#services .content
	{
		grid-template-columns: repeat(2,1fr);
	}
	#services	
	{
		padding: 50px;
	}
    .contact-form{
        margin-top: -2rem;
    }
    .main-content h1{
        font-size: 50px;
    }
    .main-content h4{
        font-size: 1.6rem;

    }
    .contact-content{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-img img{
        display: block; /* Asegura que la imagen sea un elemento de bloque para aplicar márgenes */
        width: 100%;
        max-width: 400px;
        height: auto; /* Ajusta la altura automáticamente en función del ancho */
        margin: 0 auto; /* Centra horizontalmente */
    }
    #menu-icon{
        display: initial;
        position: absolute; 
        top: 10; /*  */
        left: 85%; 
     
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 225px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a{
        display: block;
        padding: 17px;
        font-size: 16px;
       
    
    }
    .navlist.active{
        right: 0;
    }
    
}
@media (max-width: 700px){

    #services .content

	{
		grid-template-columns: repeat(1,1fr);
	}
    #services	
	{
		padding: 90px;
	}
}
@media (max-width: 775px){

    .main-content h1{
        font-size: 45px;
    }
    .main-content h4{
        font-size: 1.6rem;

    }

}

@media (max-width: 697px){
    .products-preview .preview h3{

        font-size: 1.1rem;
     }
     .products-preview .preview p{

        font-size: 1rem;

     }
    .main-content h1{
        font-size: 40px;
    }
    .main-content h4{
        font-size: 1.4rem;

    }


    
}
@media (max-width: 693px){
    .products-preview .preview{
        display: none;
        padding:1rem;
        text-align: center;
        background: #212121;
        position: relative;
        margin:9rem 2rem;
        width: 30rem;
     }


    
}
@media (max-width: 506px){

    .main-content h1{
        font-size: 30px;
    }
    .main-content h4{
        font-size: 1rem;

    }
    ::root{
        --h2-font: 2rem;
        --p-font: 15px;
    }
    .contact-img img{

        display: block; /* Asegura que la imagen sea un elemento de bloque para aplicar márgenes */
        width: 100%;
        max-width: 300px;
        height: auto; /* Ajusta la altura automáticamente en función del ancho */
        margin: 0 auto; /* Centra horizontalmente */
    }
    
}

@media (max-width: 447px){

    .card .content .details h2 
    {
        font-size: 1.2em;
    
    
    }
    .services-content{
        /* Centra horizontalmente */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    
        gap: 2.3rem;
        margin-top: 3.2rem;
        
    }
    .contact-img img{
        display: block; /* Asegura que la imagen sea un elemento de bloque para aplicar márgenes */
        width: 100%;
        max-width: 200px;
        height: auto; /* Ajusta la altura automáticamente en función del ancho */
        margin: 0 auto; /* Centra horizontalmente */
    }

}
@media (max-width: 414px){
    .card .content .details h2 
    {
        font-size: 1.2em;
    
    
    }
    .main-content h1{
        font-size: 25px;
    }
    .main-content h4{
        font-size: 1rem;

    }

    .s1{
        font-size: 16px;
    
    }
    .card .content .details p 
{
    font-size: 16px;

}
    .services-content{
        /* Centra horizontalmente */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    
        gap: 2.3rem;
        margin-top: 3.2rem;
        
    }
    .contact-img img{
        display: block; /* Asegura que la imagen sea un elemento de bloque para aplicar márgenes */
        width: 100%;
        max-width: 200px;
        height: auto; /* Ajusta la altura automáticamente en función del ancho */
        margin: 0 auto; /* Centra horizontalmente */
    }
    .hero{
        height: 90vh;

    }
    
}
@media (max-width: 390px){

    .h-btn{
        padding: 11px 14px;

    }
    .s1{
        font-size: 17px;
    
    }
    .card .content .details p 
{
    font-size: 17px;

}
.container 
{
    position: relative;
    display: flex;
    padding: 80px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 20px;
    margin-top: 20px;
}
    .main-content h1{
        font-size: 22px;
    }
    .main-content h4{
        font-size: 1rem;

    }
    .contact-img img{
        display: block; /* Asegura que la imagen sea un elemento de bloque para aplicar márgenes */
        width: 100%;
        max-width: 200px;
        height: auto; /* Ajusta la altura automáticamente en función del ancho */
        margin: 0 auto; /* Centra horizontalmente */
    }
    .hero{
        height: 80vh;

    }

}
